.title_question {
    text-align: center;
    font-size: 20px;
    border: 2px solid #000;
    height: 120px;
    width: 500px;
}

.border_ans {
    border: 1px solid #000;
    margin: 10px;
    height: 20px;
    width: 500px;
    padding: 3px;
}