{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="Content-type" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  </head>
  <body>
    <header>
        <div>
            <p><h2>Тест на знания Python</h2></p>
        </div>
    </header>
    <form action="/" method="POST">
        <div class="title_question">
            <p><b>Вопрос 1</b></p>
            <p>Какой тип данных в Python представляет целые числа?</p>
        </div>
        <div>
            <p><input type="radio" name="question" value="answer_1">complex</p>
            <p><input type="radio" name="question" value="answer_2">int</p>
            <p><input type="radio" name="question" value="answer_3">float</p>
            <p><input type="radio" name="question" value="answer_4">bool</p>
        </div>
        <div>
            <p><button type="submit">Ответить</button></p>
        </div>
    </form>
    <footer>
      <p></p>
    </footer>
  </body>
</html>